body{
    background-image: url(https://images.unsplash.com/photo-1484885192048-9696607347da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}